{% if paginator.total_pages > 1 %}


<div class="pager">

        <ul class="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page_path == '/' %}
                <li class="page-link"><a href="{{ site.baseurl }}">PREV</a></li>
            {% else %}
                <li class="page-link"><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">PREV</a></li>
            {% endif %}
        {% else %}
            <li class="page-link disabled">PREV</li>
        {% endif %}

        {% for counter in (1..paginator.total_pages) %}
            {% comment %}
                Special case: page1 will be the index page, so the link has to be generated manually
            {% endcomment %}

            {% if counter == 1%}
                {% if counter == paginator.page %}
                    <li class="page-link">{{ counter }}</li>
                {% else %}
                    <li class="page-link"><a href="{{ site.baseurl }}">{{ counter }}</a></li>
                {% endif %}
            {% else %}
                {% if counter == paginator.page %}
                    <li class="page-link">{{ counter }}</li>
                {% else %}
                    <li class="page-link"><a href="{{ site.baseurl }}/posts/page{{ counter }}">{{ counter }}</a></li>
                {% endif %}
            {% endif %}

        {% endfor %}

        {% if paginator.next_page %}
            <li class="page-link"><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">NEXT</a></li>
        {% else %}
            <li class="page-link disabled">NEXT</li>
        {% endif %}
        </ul>

</div>
{% endif %}